{% extends 'ytb_main.html' %}






{% block result %}










<section class="pt-3 pb-4">
  <div class="container">

    <div class="row">
      <div class="col-lg-9 z-index-2 border-radius-xl mt-n10 mx-auto py-3 blur shadow-blur"
        style="background-color: #f6fbfe;">
        <div class="row">

          <div class="col-md-4 position-relative">

            <div class="p-3">
              <div class="card-header p-0 position-relative z-index-1">
                <img src="{{thumbnail}}" class="w-100 border-radius-lg shadow" style="border-radius: 10px;">





                </a>
              </div>


              <h6 class="mt-3">{{title}}</h6>

              {% if dur == 'NaN' %}
              <p class="text-sm">Duration : ....</p>
              {% else %}
              <p class="text-sm">Duration : {{dur}}</p>
              {% endif %}



            </div>

            <hr class="vertical dark">
          </div>

          <div class="col-md-8 position-relative">
            <div class="p-3">





              <div class="tab-content">

                <div class="card h-100  fade active show rounded-top-0" aria-labelledby="video-tab">
                  <div class="card-body table-responsive">
                    <table class="table">
                      <thead class="bg-success" style="color: #ffffff;">


                        <tr>
                          <th>Size</th>
                          <th>Resolution</th>
                          <th>TBR</th>
                          <th>Download</th>
                        </tr>

                      </thead>
                      <tbody>




                        {% for i,r,s,e,t in val %}
                        {%if s == 'NaN'  %}
                        <tr>
                          <td class="align-middle py-4">

                            <span class="d-block">


                              NaN


                            </span>

                          </td>
                          <td class="align-middle">
                            {{r}}
                            ({{e}})
                          </td>
                          <td class="align-middle">
                            {{t}}kbps
                          </td>


                          <td class="align-middle">

                            <button type="submit" class="btn btn-success" id="{{i}},{{e}}" onclick="myFunction(this.id)"
                              style="border-radius: 15px; background-color: #009970; color: white;">Download</button>
                          </td>

                        </tr>
                        {% else %}
                        <tr>
                          <td class="align-middle py-4">

                            <span class="d-block">

                              {{s|filesizeformat}}



                            </span>

                          </td>
                          <td class="align-middle">
                            {{r}}
                            ({{e}})
                          </td>
                          <td class="align-middle">
                            {{t}}kbps
                          </td>


                          <td class="align-middle">

                            <button type="submit" class="btn btn-success" id="{{i}},{{e}}" onclick="myFunction(this.id)"
                              style="border-radius: 15px; background-color: #009970; color: white;">Download</button>
                          </td>

                        </tr>
                        {%endif%}
                        {%endfor%}


                      </tbody>
                    </table>
                  </div>
                </div>





                </tbody>
                </table>
              </div>
            </div>

          </div>


        </div>
      </div>

    </div>
  </div>
  </div>

  </div>
</section>







<script type="text/javascript">
  function myFunction(id) {
    window.id = id

    $.ajax({
      type: "POST",
      url: "{% url 'downloading' %}",
      data:
      {

        id: (window.id.split(',')[0]),
        ext: (window.id.split(',')[1]),

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
      },
      success: function (result) {
        console.log(window.id)
      }
    });


  }






</script>
{%endblock%}